.brick-layout {
    width: 400px;
    padding: 4px;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.color-aqua {
    justify-items: start;
    background-color: aqua;
}
.brick {
    min-height: 80px;
    min-width: 50px;
    margin: 5px;
    flex-basis: 100px;
}

div {
    display: block;
}.brick:nth-child(2n) {
    flex-grow: 1;
}
.color-aqua {
    justify-items: start;
    background-color: aqua;
}
.brick {
    min-height: 80px;
    min-width: 50px;
    margin: 5px;
    flex-basis: 100px;
}
div {
    display: block;
}
.color-aqua {
    justify-items: start;
    background-color: aqua;
}
.brick {
    min-height: 80px;
    min-width: 50px;
    margin: 5px;
    flex-basis: 100px;
}
div {
    display: block;
}
.brick:nth-child(2n) {
    flex-grow: 1;
}
.color-yellow {
    justify-items: center;
    background-color: yellow;
}
.brick {
    min-height: 80px;
    min-width: 50px;
    margin: 5px;
    flex-basis: 100px;
}
.color-yellow {
    justify-items: center;
    background-color: yellow;
}

.brick {
    min-height: 80px;
    min-width: 50px;
    margin: 5px;
    flex-basis: 100px;
}
.brick:nth-child(2n) {
    flex-grow: 1;
}

.color-yellow {
    justify-items: center;
    background-color: yellow;
}
.brick {
    min-height: 80px;
    min-width: 50px;
    margin: 5px;
    flex-basis: 100px;
}
.color-fuchsia {
    justify-items: end;
    background-color: fuchsia;
}
.brick {
    min-height: 80px;
    min-width: 50px;
    margin: 5px;
    flex-basis: 100px;
}
.brick:nth-child(2n) {
    flex-grow: 1;
}

.color-fuchsia {
    justify-items: end;
    background-color: fuchsia;
}
.brick {
    min-height: 80px;
    min-width: 50px;
    margin: 5px;
    flex-basis: 100px;
}